**

!.dockerignore
!Dockerfile
!README.md
!pyproject.toml
!requirements.lock

!src/
!src/**
!configs/
!configs/**
!inference/
!inference/**
!tests/
!tests/**

**/.git
**/__pycache__
**/*.py[cod]
**/.pytest_cache
**/*.partial
**/*.log
inference/output/*
!inference/output/.gitkeep
