**

!.dockerignore
!Dockerfile
!README.md
!pyproject.toml

!src/
!src/**
!tests/
!tests/**
!examples/
!examples/**

!containers/
!containers/patches/
!containers/patches/**

!iGen3/
!iGen3/README.md
!iGen3/pyproject.toml
!iGen3/requirements.txt
!iGen3/src/
!iGen3/src/**
!iGen3/models/
!iGen3/models/**
!iGen3/examples/
!iGen3/examples/**

!third_party/
!third_party/Uni-Dock/
!third_party/Uni-Dock/LICENSE
!third_party/Uni-Dock/unidock/
!third_party/Uni-Dock/unidock/**
!third_party/AutoDock-GPU/
!third_party/AutoDock-GPU/**
!third_party/AutoGrid/
!third_party/AutoGrid/**

**/.git
**/__pycache__
**/*.py[cod]
**/.pytest_cache
**/build
**/builddir
